[submodule "app"]
	path = app
	url = git@github.com:clinWayEIP/clinway-app.git
[submodule "api"]
	path = api
	url = git@github.com:clinWayEIP/clinway-api.git
[submodule "admin"]
	path = admin
	url = git@github.com:clinWayEIP/clinway-admin.git
[submodule "promoter"]
	path = promoter
	url = git@github.com:clinWayEIP/clinway-promoter.git
